@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    list-style-type:none;
}


/* ::> Blocks <:: */

.block p {
    font-size: 2.7em;
    font-family: 'Bebas Neue', cursive;
    line-height:100px;
    margin-left:30%

}

.block {
    width: 30%;
    min-width:300px;
    height: 100px;
    background-color: whitesmoke;
    transform: skewY(177deg) scale(1);

    margin: 20px 0px 20px 0px;
}

    .block:hover {
        background-color: #e1e0e0;
        transform: skewY(177deg) scale(1.1) translate(10px);
        transform: translate(200px);
        -webkit-transform: skewY(177deg) scale(1.1) translate(10px);
    }

