@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    list-style-type:none;
}


/* ::> Blocks <:: */

.block p {
    font-size: 2.7em;
    font-family: 'Bebas Neue', cursive;
    line-height:100px;
    margin-left:30%


}

.block {
    width: 30%;
    min-width:300px;
    height: 100px;
    background-color: whitesmoke;
    transform: skewY(177deg) scale(1);

    margin: 20px 0px 20px 0px;
}

    .block:hover {
        background-color: #e1e0e0;
        transform: skewY(177deg) scale(1.1) translate(10px);
        transform: translate(200px);
        -webkit-transform: skewY(177deg) scale(1.1) translate(10px);
    }


#leftSide {
    width: 30%;
    min-width:320px;
}

#title{
    border: solid black 2px;
    width:50%;
    margin:auto;
}


#rightSide {
    width: 70%;
}

header{
    background-color:red;
    height:200px;
}


main{
    display:flex;
}

#avatar {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: rotatingGlow 4500ms ease-in-out;
    animation-delay: 3s;
}


#contentBox{
    margin: 20px;
    height:90%;
    
    background-color:#fff;
}

@keyframes rotatingGlow {
    0% {
        transform: rotate(0deg);
        -webkit-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        -moz-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
    }

    79% {
        -webkit-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        -moz-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
    }

    89% {
        -webkit-box-shadow: 0px 0px 159px -14px rgb(255,123,0);
        -moz-box-shadow: 0px 0px 159px -14px rgb(255,123,0);
        box-shadow: 0px 0px 159px -14px rgb(255,123,0);
    }




    100% {
        transform: rotate(360deg);
        -webkit-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        -moz-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
    }
}