* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Michroma', sans-serif;
    background:white;
}

#center {
    margin: auto;
    width: 85%;
    text-align: center;
}

#dot {
    animation: dotted 1500ms infinite;
    animation-delay: 2s;
}


/* >>>> HEADER / LANG / NAV  <<<<<*/
h1 {
    font-size: 2rem;
    letter-spacing: 2px;
}

.plakat {
    margin: auto;
    width: 80%;
}


.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: .7s;
}


#bgNav {
    width: 60%;
    margin: auto;
}

#avatar {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: rotatingGlow 4500ms ease-in-out;
    animation-delay: 3s;
}

.EN_SI {
    max-width: 5%;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.vertibox {
    margin: auto;
    width: 70%;
    font-size: 25px;
}



@media only screen and (max-width: 768px){

    body{
        background:blue;
    }

    .vertibox {
        margin: auto;
        width: 90%;
        font-size: 25px;
    }

    #bgNav {
        width: 45%;
        margin: auto;
    }

    #center {
        width: 100%;
    }

}




/* <<<<< HEADER / LANG / NAV  >>>>> */




/* >>>>> ARTICLE / CONTENT  <<<<< */



.skillbox {
    background-color: rgba(255,123,0,1);
    border-radius: 6px;
    margin: 20px 0px 20px 0px;
}

    .skillbox:hover {
        background-color: rgba(255,123,0,.9);
    }


.boxtextHTML {
    width:310px;
    margin:auto;
    font-size: 1rem;
    font-weight:800;
    text-align: justify;
    text-justify: inter-word;
    display:none;
}


.boxtext {
    padding: 0px 20px 0px 20px;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    font-size: .9rem;
    font-weight: 600;
    display: none;
}

.bgBar {
    background: black;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.projectList {
    color:rgba(0,0,0,0.75);
    padding: 10px;
    line-height:25px;
}

.links a p {
    display: inline-block;
    display: none;
    color: black;
    width: 120px;
}


/* >>> HTML <<<<*/

.htmlBar {
    position: relative;
    width: 96%;
    top: 5px;
    left: 5px;
    background: rgb(255,123,0);
    background: -moz-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00",endColorstr="#ffd6af",GradientType=1);
    border-radius: 30px 0px 0px 0px;
    height: 20px;
    animation: appear 3s forwards;
}

.textProcentHTML {
    text-align:right;
    margin-right:10px;
    vertical-align:middle;
    line-height:22px;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

/* >>>> CSS <<<<*/

.cssBar {
    position: relative;
    width: 85%;
    top: 5px;
    left: 5px;
    background: rgb(255,123,0);
    background: -moz-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00",endColorstr="#ffd6af",GradientType=1);
    border-radius: 30px 0px 0px 0px;
    height: 20px;
    animation: appear 3s forwards;
}

.textProcentCSS {
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 22px;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

/*>>>> C# <<<<*/
.csBar {
    position: relative;
    width: 70%;
    top: 5px;
    left: 5px;
    background: rgb(255,123,0);
    background: -moz-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00",endColorstr="#ffd6af",GradientType=1);
    border-radius: 30px 0px 0px 0px;
    height: 20px;
    animation: appear 3s forwards;
}

.textProcentCS {
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 22px;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}


/* >>>> JavaScript <<<< */

.jsBar {
    position: relative;
    width: 35%;
    top: 5px;
    left: 5px;
    background: rgb(255,123,0);
    background: -moz-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00",endColorstr="#ffd6af",GradientType=1);
    border-radius: 30px 0px 0px 0px;
    height: 20px;
    animation: appear 3s forwards;
}

.textProcentJS {
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 22px;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

/* >>>> Java <<<<*/

.javaBar {
    position: relative;
    width: 55%;
    top: 5px;
    left: 5px;
    background: rgb(255,123,0);
    background: -moz-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00",endColorstr="#ffd6af",GradientType=1);
    border-radius: 30px 0px 0px 0px;
    height: 20px;
    animation: appear 3s forwards;
}

.textProcentJava {
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 22px;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}


/* >>>> SQL <<<< */
.sqlBar {
    position: relative;
    width: 90%;
    top: 5px;
    left: 5px;
    background: rgb(255,123,0);
    background: -moz-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: -webkit-linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    background: linear-gradient(90deg, rgba(255,123,0,1) 10%, rgba(255,214,175,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00",endColorstr="#ffd6af",GradientType=1);
    border-radius: 30px 0px 0px 0px;
    height: 20px;
    animation: appear 3s forwards;
}


.textProcentSQL {
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 22px;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

footer {
    height: 30px;
    -webkit-box-shadow: 4px 6px 18px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: 4px 6px 18px -3px rgba(0,0,0,0.65);
    box-shadow: 4px 6px 18px -3px rgba(0,0,0,0.65);
    background-color: rgba(142, 142, 142, 0.77);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    footer p {
        color: black;
        animation: appear 5s forwards;
        margin-top: 2px;
    }


.footerOk {
    background-color: transparent;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    color: white;
    font-family: 'Michroma', sans-serif;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: center;
    margin-left: 22px;
}


.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

li::before {
    content: "● ";
}


/*  LINKS / RESETS */

a:link{
    color:black;
}
a:visited {
    color: black;
}

a:active {
    color: black;
}

.contactList {
    font-family: 'Michroma', sans-serif;
    font-size: 12px;
    letter-spacing: 0.7px;
}

    .contactList li {
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
        padding-left: 20px;
    }


    .contactList a {
        font-size: 12px;
        text-decoration: none;
        width: 100%;
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    .contactList li:hover {
        animation: contactPop ease-in-out forwards 200ms;
        background-color: rgba(154, 154, 154, 0.26);
        width: 70%;
    }




.footerOk:hover {
    background-color:rgb(255,123,0);
}

/*>>>> animation stuff <<<<*/

@keyframes contactPop {
    100% {
        font-size: 15px;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ----------------------------------------------
* Generated by Animista on 2019-7-16 17:33:55
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation focus-in-expand
* ----------------------------------------
*/
@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/* ----------------------------------------------
* Generated by Animista on 2019-7-16 17:35:43
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes resize-on-hover {

    0% {
        width: 300px;
        height: auto;
    }

    100% {
        width: 600px;
        height: auto;
    }
}

@keyframes dotted {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotatingGlow {
    0% {
        transform: rotate(0deg);
        -webkit-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        -moz-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
    }

    79% {
        -webkit-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        -moz-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
    }

    89% {
        -webkit-box-shadow: 0px 0px 159px -14px rgb(255,123,0);
        -moz-box-shadow: 0px 0px 159px -14px rgb(255,123,0);
        box-shadow: 0px 0px 159px -14px rgb(255,123,0);
    }




    100% {
        transform: rotate(360deg);
        -webkit-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        -moz-box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
        box-shadow: 0px 0px 42px 10px rgba(238,255,0,0);
    }
}


/*>>>> animation stuff <<<<*/
